
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Perfil</title>
        <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <link rel="stylesheet" href="/src/app/perfil/perfil.component.css">
            <meta charset="utf-8">
            <title>ligas</title>
            <link rel="stylesheet" type="text/css" href="/src/app/perfil/perfil.component.css">
    </head>
<section>
        <body>
            <section>
                <ol><a>Torneo deportivo</a></ol>
                <ol><a href="#news">Estadisticas</a></ol>
                <ol><a href="#contact">Torneos</a></ol>
                <ol style="float:right" class="active"><a href="http://localhost:4200/perfil">Perfil</a></ol>
            </section>
      </body>
    </section>
    <body>
        <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img src="https://i.pinimg.com/564x/49/c8/e4/49c8e403cd1929e9e7b02126824ff831.jpg" alt="img-avatar">
                </div>


                <a href="http://localhost:4200/">
                <button type="button" class="boton-regresar">
                    <i></i> Regresar
                </button>
                </a>
            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 class="titulo">Juan Lopez</h3>
            </div>
            <div class="perfil-usuario-footer">
                <ul class="lista-datos">
                    <li><i class="icono fas  fa-solid fa-user"></i> Username</li><p>User1</p>
                    <li><i class="icono fas fa-solid fa-envelope"></i> Correo:</li><p>User1-2017353@kinal.edu.gt</p>
                </ul>
            </div>

        </div>
    </section>
    </body>

</html>
